{{#>domoticTile}}
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
             aria-valuenow="{{state.sensorOpenPercent}}"
             style="width: {{state.sensorOpenPercent}}%;">
        </div>
        <div id="slider" style="margin-top: 4px"></div>
    </div>
{{/domoticTile}}