{{#>domoticTile}}
    <div id="slider"></div>
    <table style="margin: 2px">
        <tr>
            <td><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
            <td width="100%"><div class="arrow-left"></div></td>
            <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
        </tr>
    </table>
{{/domoticTile}}