<div class="tile">
    {{#image}}
        <img src="{{image}}"/>
    {{/image}}
    <div class="caption">
        {{#withConfig}}
            <h4>{{lookup types ../[@type]}}</h4>
        {{/withConfig}}
        <h5>{{name}}</h5>
        {{>@partial-block}}
    </div>
</div>

