<table class="table-responsive">
    <tbody>
    <tr>
        <td width="200px">
            <div id="leftNav">Left nav</div>
        </td>
        <td>
            <div class="container-fluid">
                <div class="row" id="mainPanel">Main panel</div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
