<table class="table-responsive">
    <tbody>
    <tr>
        <td>
            <div id="leftNav">Left nav</div>
        </td>
        <td style="width: 100%">
            <div id="mainPanel">
                Main panel
            </div>
        </td>
    </tr>
    </tbody>
</table>
